body{
    background-color: rgb(201, 198, 198);
}

/* Gradient Color */
section {
    background: linear-gradient(90deg, rgb(197, 177, 66), rgb(119, 171, 201));
    margin-top: -8px;
    padding-right: 10px;
    /* padding-left: -20px; */
    margin-left: -8px;
    width: 1270px;
    height: 400px;
  }

/* Gradient Color */

/* Name */
.Logo{
    width: 240px;
    padding-top: 30px;
    padding-left: 70px;
}
/* Name */


/* NavBar */
ul{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    margin-right: 90px;
    margin-top: 40px;
   
}
li{
    list-style: none;
    padding-left: 30px;
}
li a{
    text-decoration: none;
    color: white;
    font-family:Georgia, Times, 'Times New Roman', serif;
}
li a:hover{
    display: inline-block;
    background-color: #173b6c;
   height: 28px ;
    padding: 5px;
}
/* NavBar */

/* Resume */
.Resume{
    background-color: white;
    width: 1118px;
    height: 460px;
    margin-left: 74px;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow:8px 8px 20px rgba(0,0,0,0.5);
}
.back{
    overflow:hidden;
}
.back img{
    width: 350px;
    height: 410px;
    margin-top: 10px;
    padding-left: 2px;
    border-radius: 14px;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -ms-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}
.back:hover img{
    transform:rotate(2deg) scale(1.2);
}
/* Resume */
h3, h4 {
    font-weight: 700;
    font-size: 26px;
    color: #173b6c;
}
h4 {
    font-weight: 700;
    font-size: 20px;
    color: #173b6c;
}
p{
    text-align: justify;
    font-size: 16px;
}

.social-links a {
    font-size: 18px;
    display: inline-block;
    background: rgb(5, 63, 129);
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    margin-right: 10px;
}
.social-links a:hover {
    background: linear-gradient(90deg, rgb(197, 177, 66), rgb(119, 171, 201));
    color: #fff;
}
.mail{
    background: linear-gradient(90deg, rgb(197, 177, 66), rgb(119, 171, 201));
    width: 130px;
    height: 40px;
    border-radius: 8px;
}
.send{
    color: white;
    font-weight: bold;
    padding-left: 7px;
    padding-top: 10px;
}
.CV{
    color: white;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 10px;
}
.CVV{
    background: linear-gradient(90deg, rgb(197, 177, 66), rgb(119, 171, 201));
    width: 100px;
    height: 40px;
    border-radius: 8px;
}
